USE [FarmProduction2]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 08/01/2024 4:59:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[Id] [uniqueidentifier] NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Name] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[CreatedById] [uniqueidentifier] NULL,
	[UpdatedById] [uniqueidentifier] NULL,
	[DeletedById] [uniqueidentifier] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[DeletedAt] [datetime2](7) NULL,
	[IsSoftDeleted] [bit] NULL,
 CONSTRAINT [PK_Brand] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 08/01/2024 4:59:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [uniqueidentifier] NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[ParentCategoryId] [uniqueidentifier] NULL,
	[CreatedById] [uniqueidentifier] NULL,
	[UpdatedById] [uniqueidentifier] NULL,
	[DeletedById] [uniqueidentifier] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[DeletedAt] [datetime2](7) NULL,
	[IsSoftDeleted] [bit] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 08/01/2024 4:59:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[Id] [uniqueidentifier] NOT NULL,
	[Status] [int] NULL,
	[OrderId] [uniqueidentifier] NULL,
	[ProductAttributeId] [uniqueidentifier] NULL,
	[CountBought] [decimal](18, 2) NULL,
	[CreatedById] [uniqueidentifier] NULL,
	[UpdatedById] [uniqueidentifier] NULL,
	[DeletedById] [uniqueidentifier] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[DeletedAt] [datetime2](7) NULL,
	[IsSoftDeleted] [bit] NULL,
	[UnitPrice] [decimal](18, 2) NULL,
 CONSTRAINT [PK_OrderItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 08/01/2024 4:59:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [uniqueidentifier] NOT NULL,
	[Status] [int] NULL,
	[Type] [int] NULL,
	[UserAccountId] [uniqueidentifier] NULL,
	[Total] [decimal](18, 2) NULL,
	[PaymentShip] [decimal](18, 2) NULL,
	[PaymentType] [int] NULL,
	[WardFromId] [nvarchar](max) NULL,
	[DistrictFromId] [nvarchar](max) NULL,
	[ProvinceFromId] [nvarchar](max) NULL,
	[WardToId] [nvarchar](max) NULL,
	[DistrictToId] [nvarchar](max) NULL,
	[ProvinceToId] [nvarchar](max) NULL,
	[FromAddress] [nvarchar](max) NULL,
	[ToAddress] [nvarchar](max) NULL,
	[CreatedById] [uniqueidentifier] NULL,
	[UpdatedById] [uniqueidentifier] NULL,
	[DeletedById] [uniqueidentifier] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[DeletedAt] [datetime2](7) NULL,
	[IsSoftDeleted] [bit] NULL,
	[SellerAccountId] [uniqueidentifier] NULL,
	[Code] [nvarchar](max) NULL,
	[Reason] [nvarchar](max) NULL,
	[PhoneDelivery] [nvarchar](max) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producer]    Script Date: 08/01/2024 4:59:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producer](
	[Id] [uniqueidentifier] NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Website] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[TypeModel] [int] NULL,
	[MainMarketing] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[YearBorn] [int] NULL,
	[CreatedById] [uniqueidentifier] NULL,
	[UpdatedById] [uniqueidentifier] NULL,
	[DeletedById] [uniqueidentifier] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[DeletedAt] [datetime2](7) NULL,
	[IsSoftDeleted] [bit] NULL,
 CONSTRAINT [PK_Producer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 08/01/2024 4:59:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [uniqueidentifier] NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[BrandId] [uniqueidentifier] NULL,
	[CategoryId] [uniqueidentifier] NULL,
	[Status] [int] NULL,
	[CreatedById] [uniqueidentifier] NULL,
	[UpdatedById] [uniqueidentifier] NULL,
	[DeletedById] [uniqueidentifier] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[DeletedAt] [datetime2](7) NULL,
	[IsSoftDeleted] [bit] NULL,
	[ProducerId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductAttribute]    Script Date: 08/01/2024 4:59:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductAttribute](
	[Id] [uniqueidentifier] NOT NULL,
	[Price] [decimal](18, 2) NULL,
	[Amount] [int] NULL,
	[Image] [nvarchar](max) NULL,
	[Color] [nvarchar](max) NULL,
	[Unit] [nvarchar](max) NULL,
	[Value] [nvarchar](max) NULL,
	[ProductId] [uniqueidentifier] NULL,
	[CreatedById] [uniqueidentifier] NULL,
	[UpdatedById] [uniqueidentifier] NULL,
	[DeletedById] [uniqueidentifier] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[DeletedAt] [datetime2](7) NULL,
	[IsSoftDeleted] [bit] NULL,
	[ExpireDate] [datetime2](7) NULL,
	[ManufactureDate] [datetime2](7) NULL,
	[Code] [nvarchar](max) NULL,
 CONSTRAINT [PK_ProductAttribute] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductDescription]    Script Date: 08/01/2024 4:59:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductDescription](
	[Id] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedById] [uniqueidentifier] NULL,
	[UpdatedById] [uniqueidentifier] NULL,
	[DeletedById] [uniqueidentifier] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[DeletedAt] [datetime2](7) NULL,
	[IsSoftDeleted] [bit] NULL,
 CONSTRAINT [PK_ProductDescription] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImage]    Script Date: 08/01/2024 4:59:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImage](
	[Id] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NULL,
	[Image] [nvarchar](max) NULL,
	[CreatedById] [uniqueidentifier] NULL,
	[UpdatedById] [uniqueidentifier] NULL,
	[DeletedById] [uniqueidentifier] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[DeletedAt] [datetime2](7) NULL,
	[IsSoftDeleted] [bit] NULL,
 CONSTRAINT [PK_ProductImage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 08/01/2024 4:59:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [uniqueidentifier] NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[IsAdmin] [bit] NULL,
	[CreatedById] [uniqueidentifier] NULL,
	[UpdatedById] [uniqueidentifier] NULL,
	[DeletedById] [uniqueidentifier] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[DeletedAt] [datetime2](7) NULL,
	[IsSoftDeleted] [bit] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAccount]    Script Date: 08/01/2024 4:59:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccount](
	[Id] [uniqueidentifier] NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[Hashpassword] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[FullName] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[RoleId] [uniqueidentifier] NULL,
	[CreatedById] [uniqueidentifier] NULL,
	[UpdatedById] [uniqueidentifier] NULL,
	[DeletedById] [uniqueidentifier] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[DeletedAt] [datetime2](7) NULL,
	[IsSoftDeleted] [bit] NULL,
	[Avatar] [nvarchar](max) NULL,
	[StatusUser] [int] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_UserAccount] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Brand] ([Id], [Code], [Name], [Image], [CreatedById], [UpdatedById], [DeletedById], [CreatedAt], [UpdatedAt], [DeletedAt], [IsSoftDeleted]) VALUES (N'b915c8e5-8713-40e1-d8bd-08dbf81062c0', N'odbyz', N'Dalat Farm', N'brand_odbyz.jpg', NULL, NULL, NULL, CAST(N'2023-12-09T00:09:06.2713656' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[Brand] ([Id], [Code], [Name], [Image], [CreatedById], [UpdatedById], [DeletedById], [CreatedAt], [UpdatedAt], [DeletedAt], [IsSoftDeleted]) VALUES (N'b61c951b-231e-4e5b-d8be-08dbf81062c0', N'75y0y', N'Nông Trại Vui Vẻ', N'brand_75y0y.jpg', NULL, NULL, NULL, CAST(N'2023-12-09T00:09:41.8208110' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[Brand] ([Id], [Code], [Name], [Image], [CreatedById], [UpdatedById], [DeletedById], [CreatedAt], [UpdatedAt], [DeletedAt], [IsSoftDeleted]) VALUES (N'99f0002e-a3c5-4c9f-d8bf-08dbf81062c0', N'6nqxh', N'Nông Trại Sạch', N'brand_6nqxh.jpg', NULL, NULL, NULL, CAST(N'2023-12-09T00:10:29.0154338' AS DateTime2), NULL, NULL, NULL)
GO
INSERT [dbo].[Category] ([Id], [Code], [Name], [Image], [ParentCategoryId], [CreatedById], [UpdatedById], [DeletedById], [CreatedAt], [UpdatedAt], [DeletedAt], [IsSoftDeleted]) VALUES (N'd8b780d4-f831-41fa-6dca-08dbf7f9bc19', N'h7a8k', N'Nông Sản Tươi', N'category_h7a8k.jpg', NULL, NULL, NULL, NULL, CAST(N'2023-12-08T21:26:57.7507001' AS DateTime2), CAST(N'2023-12-25T20:52:10.5289425' AS DateTime2), NULL, NULL)
INSERT [dbo].[Category] ([Id], [Code], [Name], [Image], [ParentCategoryId], [CreatedById], [UpdatedById], [DeletedById], [CreatedAt], [UpdatedAt], [DeletedAt], [IsSoftDeleted]) VALUES (N'feda898d-3a98-438e-6dcb-08dbf7f9bc19', N'csafp', N'Nông Sản Khô', N'category_csafp.jpg', NULL, NULL, NULL, NULL, CAST(N'2023-12-08T21:27:46.5580071' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[Category] ([Id], [Code], [Name], [Image], [ParentCategoryId], [CreatedById], [UpdatedById], [DeletedById], [CreatedAt], [UpdatedAt], [DeletedAt], [IsSoftDeleted]) VALUES (N'872646a2-4563-4ccf-17cd-08dbf811326a', N'a18ux', N'Rau  ', N'category_a18ux.jpg', N'd8b780d4-f831-41fa-6dca-08dbf7f9bc19', NULL, NULL, NULL, CAST(N'2023-12-09T00:14:54.6993198' AS DateTime2), NULL, NULL, NULL)
GO
INSERT [dbo].[OrderItem] ([Id], [Status], [OrderId], [ProductAttributeId], [CountBought], [CreatedById], [UpdatedById], [DeletedById], [CreatedAt], [UpdatedAt], [DeletedAt], [IsSoftDeleted], [UnitPrice]) VALUES (N'dfde9855-530a-4f2a-2836-08dc054de08e', 0, N'7934bb39-5ba2-4613-1589-08dc054de08a', N'8360dbdf-f0f5-4d85-1a5f-08dc0235f8f9', CAST(1.00 AS Decimal(18, 2)), NULL, NULL, NULL, CAST(N'2023-12-25T20:32:01.7785585' AS DateTime2), NULL, NULL, NULL, CAST(53000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderItem] ([Id], [Status], [OrderId], [ProductAttributeId], [CountBought], [CreatedById], [UpdatedById], [DeletedById], [CreatedAt], [UpdatedAt], [DeletedAt], [IsSoftDeleted], [UnitPrice]) VALUES (N'7cbe3a10-08ae-4d4d-2837-08dc054de08e', 0, N'8848cf16-d9b1-44ca-158a-08dc054de08a', N'fee0fd0b-5413-497b-1a60-08dc0235f8f9', CAST(1.00 AS Decimal(18, 2)), NULL, NULL, NULL, CAST(N'2023-12-25T20:33:15.7086838' AS DateTime2), NULL, NULL, NULL, CAST(79000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderItem] ([Id], [Status], [OrderId], [ProductAttributeId], [CountBought], [CreatedById], [UpdatedById], [DeletedById], [CreatedAt], [UpdatedAt], [DeletedAt], [IsSoftDeleted], [UnitPrice]) VALUES (N'45419223-b16d-497e-2838-08dc054de08e', 0, N'7c1026e8-5b88-4540-158b-08dc054de08a', N'fee0fd0b-5413-497b-1a60-08dc0235f8f9', CAST(1.00 AS Decimal(18, 2)), NULL, NULL, NULL, CAST(N'2023-12-25T20:33:36.5918846' AS DateTime2), NULL, NULL, NULL, CAST(79000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[Product] ([Id], [Code], [Name], [Image], [BrandId], [CategoryId], [Status], [CreatedById], [UpdatedById], [DeletedById], [CreatedAt], [UpdatedAt], [DeletedAt], [IsSoftDeleted], [ProducerId]) VALUES (N'6c6266ca-3bd4-494c-a7a6-08dbf81374c4', N'36do6', N'Bắp (Ngô)', N'product_36do6.jpg', N'b61c951b-231e-4e5b-d8be-08dbf81062c0', N'4cb3ab7a-cd63-475c-17cf-08dbf811326a', NULL, NULL, NULL, NULL, CAST(N'2023-12-09T00:31:05.0133333' AS DateTime2), NULL, NULL, NULL, NULL)
INSERT [dbo].[Product] ([Id], [Code], [Name], [Image], [BrandId], [CategoryId], [Status], [CreatedById], [UpdatedById], [DeletedById], [CreatedAt], [UpdatedAt], [DeletedAt], [IsSoftDeleted], [ProducerId]) VALUES (N'466d8d36-5b40-40a7-a7a7-08dbf81374c4', N'ivnbj', N'Bí Ngô', N'product_ivnbj.jpg', N'b915c8e5-8713-40e1-d8bd-08dbf81062c0', N'4cb3ab7a-cd63-475c-17cf-08dbf811326a', NULL, NULL, NULL, NULL, CAST(N'2023-12-09T00:31:21.1207759' AS DateTime2), NULL, NULL, NULL, NULL)
INSERT [dbo].[Product] ([Id], [Code], [Name], [Image], [BrandId], [CategoryId], [Status], [CreatedById], [UpdatedById], [DeletedById], [CreatedAt], [UpdatedAt], [DeletedAt], [IsSoftDeleted], [ProducerId]) VALUES (N'e98152b7-3050-4ca1-a7a8-08dbf81374c4', N'auyyt', N'Cà Chua', N'product_auyyt.jpg', N'99f0002e-a3c5-4c9f-d8bf-08dbf81062c0', N'5e251099-c40e-4cbe-ac06-08dc007d79ad', NULL, NULL, NULL, NULL, CAST(N'2023-12-09T00:31:36.2063718' AS DateTime2), CAST(N'2023-12-19T17:30:20.5104630' AS DateTime2), NULL, NULL, NULL)
GO
INSERT [dbo].[ProductImage] ([Id], [ProductId], [Image], [CreatedById], [UpdatedById], [DeletedById], [CreatedAt], [UpdatedAt], [DeletedAt], [IsSoftDeleted]) VALUES (N'2f421be1-2faf-4a42-167b-08dc007e485b', N'869763e7-fa3d-4067-a7ad-08dbf81374c4', N'image_1702982155852.jpg', NULL, NULL, NULL, CAST(N'2023-12-19T17:35:55.9552543' AS DateTime2), NULL, CAST(N'2023-12-19T17:39:49.4613865' AS DateTime2), 1)
INSERT [dbo].[ProductImage] ([Id], [ProductId], [Image], [CreatedById], [UpdatedById], [DeletedById], [CreatedAt], [UpdatedAt], [DeletedAt], [IsSoftDeleted]) VALUES (N'17d31abf-24b2-485f-167c-08dc007e485b', N'869763e7-fa3d-4067-a7ad-08dbf81374c4', N'image_1702982329616.jpg', NULL, NULL, NULL, CAST(N'2023-12-19T17:38:49.6852069' AS DateTime2), NULL, CAST(N'2023-12-19T17:39:36.9441197' AS DateTime2), 1)
INSERT [dbo].[ProductImage] ([Id], [ProductId], [Image], [CreatedById], [UpdatedById], [DeletedById], [CreatedAt], [UpdatedAt], [DeletedAt], [IsSoftDeleted]) VALUES (N'7f82d175-7930-443f-167d-08dc007e485b', N'869763e7-fa3d-4067-a7ad-08dbf81374c4', N'image_1702982384399.jpg', NULL, NULL, NULL, CAST(N'2023-12-19T17:39:44.4427151' AS DateTime2), NULL, CAST(N'2023-12-19T17:39:48.2539641' AS DateTime2), 1)
GO
INSERT [dbo].[Role] ([Id], [Code], [Name], [IsAdmin], [CreatedById], [UpdatedById], [DeletedById], [CreatedAt], [UpdatedAt], [DeletedAt], [IsSoftDeleted], [IsActive]) VALUES (N'26d374d1-d4ec-492b-9f64-08dbf5acbd7e', N'ADMIN01', N'Quản Trị Hệ Thống', 1, NULL, NULL, NULL, CAST(N'2023-12-05T23:10:46.5101475' AS DateTime2), NULL, NULL, NULL, 1)
INSERT [dbo].[Role] ([Id], [Code], [Name], [IsAdmin], [CreatedById], [UpdatedById], [DeletedById], [CreatedAt], [UpdatedAt], [DeletedAt], [IsSoftDeleted], [IsActive]) VALUES (N'84f77588-825a-4349-16a2-08dbf6f5e5c9', N'ADMIN02', N'Người mua', 0, NULL, NULL, NULL, CAST(N'2023-12-07T14:42:04.5583801' AS DateTime2), CAST(N'2023-12-25T14:15:09.3214007' AS DateTime2), NULL, NULL, 0)
GO
INSERT [dbo].[UserAccount] ([Id], [UserName], [Hashpassword], [Email], [Phone], [FullName], [Address], [RoleId], [CreatedById], [UpdatedById], [DeletedById], [CreatedAt], [UpdatedAt], [DeletedAt], [IsSoftDeleted], [Avatar], [StatusUser], [Status]) VALUES (N'93900120-e79b-46a6-9202-08dbf5acc981', N'superadmin', N'123', N'admin@gmail.com', N'0947267178', N'ADMIN', N'140 lê trọng tấn tây thạnh tân phú', N'26d374d1-d4ec-492b-9f64-08dbf5acbd7e', NULL, NULL, NULL, CAST(N'2023-12-05T23:11:06.6923972' AS DateTime2), CAST(N'2023-12-25T20:52:40.6264614' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[UserAccount] ([Id], [UserName], [Hashpassword], [Email], [Phone], [FullName], [Address], [RoleId], [CreatedById], [UpdatedById], [DeletedById], [CreatedAt], [UpdatedAt], [DeletedAt], [IsSoftDeleted], [Avatar], [StatusUser], [Status]) VALUES (N'e7a4c97d-3b0d-4234-fb77-08dc0518f3b1', N'Hoanghieu', N'123', N'hoanghieucity@gmail.com', N'0961023517', N'Dương Hoàng Hiếu', N'118/152/22 Phan Huy Ích', N'26d374d1-d4ec-492b-9f64-08dbf5acbd7e', NULL, NULL, NULL, CAST(N'2023-12-25T14:13:10.5463130' AS DateTime2), CAST(N'2023-12-25T14:23:34.6264161' AS DateTime2), NULL, NULL, NULL, NULL, 5)
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_Orders_OrderId]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_ProductAttribute_ProductAttributeId] FOREIGN KEY([ProductAttributeId])
REFERENCES [dbo].[ProductAttribute] ([Id])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_ProductAttribute_ProductAttributeId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Order_UserAccount_UserAccountId] FOREIGN KEY([UserAccountId])
REFERENCES [dbo].[UserAccount] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Order_UserAccount_UserAccountId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_UserAccount_SellerAccountId] FOREIGN KEY([SellerAccountId])
REFERENCES [dbo].[UserAccount] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_UserAccount_SellerAccountId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_UserAccount_UserAccountId] FOREIGN KEY([UserAccountId])
REFERENCES [dbo].[UserAccount] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_UserAccount_UserAccountId]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Brand_BrandId] FOREIGN KEY([BrandId])
REFERENCES [dbo].[Brand] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Brand_BrandId]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category_CategoryId]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Producer_ProducerId] FOREIGN KEY([ProducerId])
REFERENCES [dbo].[Producer] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Producer_ProducerId]
GO
ALTER TABLE [dbo].[ProductAttribute]  WITH CHECK ADD  CONSTRAINT [FK_ProductAttribute_Product_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[ProductAttribute] CHECK CONSTRAINT [FK_ProductAttribute_Product_ProductId]
GO
ALTER TABLE [dbo].[ProductDescription]  WITH CHECK ADD  CONSTRAINT [FK_ProductDescription_Product_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[ProductDescription] CHECK CONSTRAINT [FK_ProductDescription_Product_ProductId]
GO
ALTER TABLE [dbo].[ProductImage]  WITH CHECK ADD  CONSTRAINT [FK_ProductImage_Product_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[ProductImage] CHECK CONSTRAINT [FK_ProductImage_Product_ProductId]
GO
ALTER TABLE [dbo].[UserAccount]  WITH CHECK ADD  CONSTRAINT [FK_UserAccount_Role_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[UserAccount] CHECK CONSTRAINT [FK_UserAccount_Role_RoleId]
GO
